/* ANSI 256 Colors CSS */
.a000  {color:#000000;} /* rgb(0,0,0)        hsl(0,0%,0%)      System Black    */
.a001  {color:#800000;} /* rgb(128,0,0)      hsl(0,100%,25%)   System Maroon   */
.a002  {color:#008000;} /* rgb(0,128,0)      hsl(120,100%,25%) System Green    */
.a003  {color:#808000;} /* rgb(128,128,0)    hsl(60,100%,25%)  System Olive    */
.a004  {color:#000080;} /* rgb(0,0,128)      hsl(240,100%,25%) System Navy     */
.a005  {color:#800080;} /* rgb(128,0,128)    hsl(300,100%,25%) System Purple   */
.a006  {color:#008080;} /* rgb(0,128,128)    hsl(180,100%,25%) System Teal     */
.a007  {color:#c0c0c0;} /* rgb(192,192,192)  hsl(0,0%,75%)     System Silver   */
.a008  {color:#808080;} /* rgb(128,128,128)  hsl(0,0%,50%)     System Grey     */
.a009  {color:#ff0000;} /* rgb(255,0,0)      hsl(0,100%,50%)   System Red      */
.a010  {color:#00ff00;} /* rgb(0,255,0)      hsl(120,100%,50%) System Lime     */
.a011  {color:#ffff00;} /* rgb(255,255,0)    hsl(60,100%,50%)  System Yellow   */
.a012  {color:#0000ff;} /* rgb(0,0,255)      hsl(240,100%,50%) System Blue     */
.a013  {color:#ff00ff;} /* rgb(255,0,255)    hsl(300,100%,50%) System Fuchsia  */
.a014  {color:#00ffff;} /* rgb(0,255,255)    hsl(180,100%,50%) System Aqua     */
.a015  {color:#ffffff;} /* rgb(255,255,255)  hsl(0,0%,100%)    System White    */
.a016  {color:#000000;} /* rgb(0,0,0)        hsl(0,0%,0%)      Grey0           */
.a017  {color:#00005f;} /* rgb(0,0,95)       hsl(240,100%,18%) NavyBlue        */
.a018  {color:#000087;} /* rgb(0,0,135)      hsl(240,100%,26%) DarkBlue        */
.a019  {color:#0000af;} /* rgb(0,0,175)      hsl(240,100%,34%) Blue3           */
.a020  {color:#0000d7;} /* rgb(0,0,215)      hsl(240,100%,42%) Blue3           */
.a021  {color:#0000ff;} /* rgb(0,0,255)      hsl(240,100%,50%) Blue1           */
.a022  {color:#005f00;} /* rgb(0,95,0)       hsl(120,100%,18%) DarkGreen       */
.a023  {color:#005f5f;} /* rgb(0,95,95)      hsl(180,100%,18%) DeepSkyBlue4    */
.a024  {color:#005f87;} /* rgb(0,95,135)     hsl(97,100%,26%)  DeepSkyBlue4    */
.a025  {color:#005faf;} /* rgb(0,95,175)     hsl(07,100%,34%)  DeepSkyBlue4    */
.a026  {color:#005fd7;} /* rgb(0,95,215)     hsl(13,100%,42%)  DodgerBlue3     */
.a027  {color:#005fff;} /* rgb(0,95,255)     hsl(17,100%,50%)  DodgerBlue2     */
.a028  {color:#008700;} /* rgb(0,135,0)      hsl(120,100%,26%) Green4          */
.a029  {color:#00875f;} /* rgb(0,135,95)     hsl(62,100%,26%)  SpringGreen4    */
.a030  {color:#008787;} /* rgb(0,135,135)    hsl(180,100%,26%) Turquoise4      */
.a031  {color:#0087af;} /* rgb(0,135,175)    hsl(93,100%,34%)  DeepSkyBlue3    */
.a032  {color:#0087d7;} /* rgb(0,135,215)    hsl(02,100%,42%)  DeepSkyBlue3    */
.a033  {color:#0087ff;} /* rgb(0,135,255)    hsl(08,100%,50%)  DodgerBlue1     */
.a034  {color:#00af00;} /* rgb(0,175,0)      hsl(120,100%,34%) Green3          */
.a035  {color:#00af5f;} /* rgb(0,175,95)     hsl(52,100%,34%)  SpringGreen3    */
.a036  {color:#00af87;} /* rgb(0,175,135)    hsl(66,100%,34%)  DarkCyan        */
.a037  {color:#00afaf;} /* rgb(0,175,175)    hsl(180,100%,34%) LightSeaGreen   */
.a038  {color:#00afd7;} /* rgb(0,175,215)    hsl(91,100%,42%)  DeepSkyBlue2    */
.a039  {color:#00afff;} /* rgb(0,175,255)    hsl(98,100%,50%)  DeepSkyBlue1    */
.a040  {color:#00d700;} /* rgb(0,215,0)      hsl(120,100%,42%) Green3          */
.a041  {color:#00d75f;} /* rgb(0,215,95)     hsl(46,100%,42%)  SpringGreen3    */
.a042  {color:#00d787;} /* rgb(0,215,135)    hsl(57,100%,42%)  SpringGreen2    */
.a043  {color:#00d7af;} /* rgb(0,215,175)    hsl(68,100%,42%)  Cyan3           */
.a044  {color:#00d7d7;} /* rgb(0,215,215)    hsl(180,100%,42%) DarkTurquoise   */
.a045  {color:#00d7ff;} /* rgb(0,215,255)    hsl(89,100%,50%)  Turquoise2      */
.a046  {color:#00ff00;} /* rgb(0,255,0)      hsl(120,100%,50%) Green1          */
.a047  {color:#00ff5f;} /* rgb(0,255,95)     hsl(42,100%,50%)  SpringGreen2    */
.a048  {color:#00ff87;} /* rgb(0,255,135)    hsl(51,100%,50%)  SpringGreen1    */
.a049  {color:#00ffaf;} /* rgb(0,255,175)    hsl(61,100%,50%)  MediumSpringGree*/
.a050  {color:#00ffd7;} /* rgb(0,255,215)    hsl(70,100%,50%)  Cyan2           */
.a051  {color:#00ffff;} /* rgb(0,255,255)    hsl(180,100%,50%) Cyan1           */
.a052  {color:#5f0000;} /* rgb(95,0,0)       hsl(0,100%,18%)   DarkRed         */
.a053  {color:#5f005f;} /* rgb(95,0,95)      hsl(300,100%,18%) DeepPink4       */
.a054  {color:#5f0087;} /* rgb(95,0,135)     hsl(82,100%,26%)  Purple4         */
.a055  {color:#5f00af;} /* rgb(95,0,175)     hsl(72,100%,34%)  Purple4         */
.a056  {color:#5f00d7;} /* rgb(95,0,215)     hsl(66,100%,42%)  Purple3         */
.a057  {color:#5f00ff;} /* rgb(95,0,255)     hsl(62,100%,50%)  BlueViolet      */
.a058  {color:#5f5f00;} /* rgb(95,95,0)      hsl(60,100%,18%)  Orange4         */
.a059  {color:#5f5f5f;} /* rgb(95,95,95)     hsl(0,0%,37%)     Grey37          */
.a060  {color:#5f5f87;} /* rgb(95,95,135)    hsl(240,17%,45%)  MediumPurple4   */
.a061  {color:#5f5faf;} /* rgb(95,95,175)    hsl(240,33%,52%)  SlateBlue3      */
.a062  {color:#5f5fd7;} /* rgb(95,95,215)    hsl(240,60%,60%)  SlateBlue3      */
.a063  {color:#5f5fff;} /* rgb(95,95,255)    hsl(240,100%,68%) RoyalBlue1      */
.a064  {color:#5f8700;} /* rgb(95,135,0)     hsl(7,100%,26%)   Chartreuse4     */
.a065  {color:#5f875f;} /* rgb(95,135,95)    hsl(120,17%,45%)  DarkSeaGreen4   */
.a066  {color:#5f8787;} /* rgb(95,135,135)   hsl(180,17%,45%)  PaleTurquoise4  */
.a067  {color:#5f87af;} /* rgb(95,135,175)   hsl(210,33%,52%)  SteelBlue       */
.a068  {color:#5f87d7;} /* rgb(95,135,215)   hsl(220,60%,60%)  SteelBlue3      */
.a069  {color:#5f87ff;} /* rgb(95,135,255)   hsl(225,100%,68%) CornflowerBlue  */
.a070  {color:#5faf00;} /* rgb(95,175,0)     hsl(7,100%,34%)   Chartreuse3     */
.a071  {color:#5faf5f;} /* rgb(95,175,95)    hsl(120,33%,52%)  DarkSeaGreen4   */
.a072  {color:#5faf87;} /* rgb(95,175,135)   hsl(150,33%,52%)  CadetBlue       */
.a073  {color:#5fafaf;} /* rgb(95,175,175)   hsl(180,33%,52%)  CadetBlue       */
.a074  {color:#5fafd7;} /* rgb(95,175,215)   hsl(200,60%,60%)  SkyBlue3        */
.a075  {color:#5fafff;} /* rgb(95,175,255)   hsl(210,100%,68%) SteelBlue1      */
.a076  {color:#5fd700;} /* rgb(95,215,0)     hsl(3,100%,42%)   Chartreuse3     */
.a077  {color:#5fd75f;} /* rgb(95,215,95)    hsl(120,60%,60%)  PaleGreen3      */
.a078  {color:#5fd787;} /* rgb(95,215,135)   hsl(140,60%,60%)  SeaGreen3       */
.a079  {color:#5fd7af;} /* rgb(95,215,175)   hsl(160,60%,60%)  Aquamarine3     */
.a080  {color:#5fd7d7;} /* rgb(95,215,215)   hsl(180,60%,60%)  MediumTurquoise */
.a081  {color:#5fd7ff;} /* rgb(95,215,255)   hsl(195,100%,68%) SteelBlue1      */
.a082  {color:#5fff00;} /* rgb(95,255,0)     hsl(7,100%,50%)   Chartreuse2     */
.a083  {color:#5fff5f;} /* rgb(95,255,95)    hsl(120,100%,68%) SeaGreen2       */
.a084  {color:#5fff87;} /* rgb(95,255,135)   hsl(135,100%,68%) SeaGreen1       */
.a085  {color:#5fffaf;} /* rgb(95,255,175)   hsl(150,100%,68%) SeaGreen1       */
.a086  {color:#5fffd7;} /* rgb(95,255,215)   hsl(165,100%,68%) Aquamarine1     */
.a087  {color:#5fffff;} /* rgb(95,255,255)   hsl(180,100%,68%) DarkSlateGray2  */
.a088  {color:#870000;} /* rgb(135,0,0)      hsl(0,100%,26%)   DarkRed         */
.a089  {color:#87005f;} /* rgb(135,0,95)     hsl(17,100%,26%)  DeepPink4       */
.a090  {color:#870087;} /* rgb(135,0,135)    hsl(300,100%,26%) DarkMagenta     */
.a091  {color:#8700af;} /* rgb(135,0,175)    hsl(86,100%,34%)  DarkMagenta     */
.a092  {color:#8700d7;} /* rgb(135,0,215)    hsl(77,100%,42%)  DarkViolet      */
.a093  {color:#8700ff;} /* rgb(135,0,255)    hsl(71,100%,50%)  Purple          */
.a094  {color:#875f00;} /* rgb(135,95,0)     hsl(2,100%,26%)   Orange4         */
.a095  {color:#875f5f;} /* rgb(135,95,95)    hsl(0,17%,45%)    LightPink4      */
.a096  {color:#875f87;} /* rgb(135,95,135)   hsl(300,17%,45%)  Plum4           */
.a097  {color:#875faf;} /* rgb(135,95,175)   hsl(270,33%,52%)  MediumPurple3   */
.a098  {color:#875fd7;} /* rgb(135,95,215)   hsl(260,60%,60%)  MediumPurple3   */
.a099  {color:#875fff;} /* rgb(135,95,255)   hsl(255,100%,68%) SlateBlue1      */
.a100  {color:#878700;} /* rgb(135,135,0)    hsl(60,100%,26%)  Yellow4         */
.a101  {color:#87875f;} /* rgb(135,135,95)   hsl(60,17%,45%)   Wheat4          */
.a102  {color:#878787;} /* rgb(135,135,135)  hsl(0,0%,52%)     Grey53          */
.a103  {color:#8787af;} /* rgb(135,135,175)  hsl(240,20%,60%)  LightSlateGrey  */
.a104  {color:#8787d7;} /* rgb(135,135,215)  hsl(240,50%,68%)  MediumPurple    */
.a105  {color:#8787ff;} /* rgb(135,135,255)  hsl(240,100%,76%) LightSlateBlue  */
.a106  {color:#87af00;} /* rgb(135,175,0)    hsl(3,100%,34%)   Yellow4         */
.a107  {color:#87af5f;} /* rgb(135,175,95)   hsl(90,33%,52%)   DarkOliveGreen3 */
.a108  {color:#87af87;} /* rgb(135,175,135)  hsl(120,20%,60%)  DarkSeaGreen    */
.a109  {color:#87afaf;} /* rgb(135,175,175)  hsl(180,20%,60%)  LightSkyBlue3   */
.a110  {color:#87afd7;} /* rgb(135,175,215)  hsl(210,50%,68%)  LightSkyBlue3   */
.a111  {color:#87afff;} /* rgb(135,175,255)  hsl(220,100%,76%) SkyBlue2        */
.a112  {color:#87d700;} /* rgb(135,215,0)    hsl(2,100%,42%)   Chartreuse2     */
.a113  {color:#87d75f;} /* rgb(135,215,95)   hsl(100,60%,60%)  DarkOliveGreen3 */
.a114  {color:#87d787;} /* rgb(135,215,135)  hsl(120,50%,68%)  PaleGreen3      */
.a115  {color:#87d7af;} /* rgb(135,215,175)  hsl(150,50%,68%)  DarkSeaGreen3   */
.a116  {color:#87d7d7;} /* rgb(135,215,215)  hsl(180,50%,68%)  DarkSlateGray3  */
.a117  {color:#87d7ff;} /* rgb(135,215,255)  hsl(200,100%,76%) SkyBlue1        */
.a118  {color:#87ff00;} /* rgb(135,255,0)    hsl(8,100%,50%)   Chartreuse1     */
.a119  {color:#87ff5f;} /* rgb(135,255,95)   hsl(105,100%,68%) LightGreen      */
.a120  {color:#87ff87;} /* rgb(135,255,135)  hsl(120,100%,76%) LightGreen      */
.a121  {color:#87ffaf;} /* rgb(135,255,175)  hsl(140,100%,76%) PaleGreen1      */
.a122  {color:#87ffd7;} /* rgb(135,255,215)  hsl(160,100%,76%) Aquamarine1     */
.a123  {color:#87ffff;} /* rgb(135,255,255)  hsl(180,100%,76%) DarkSlateGray1  */
.a124  {color:#af0000;} /* rgb(175,0,0)      hsl(0,100%,34%)   Red3            */
.a125  {color:#af005f;} /* rgb(175,0,95)     hsl(27,100%,34%)  DeepPink4       */
.a126  {color:#af0087;} /* rgb(175,0,135)    hsl(13,100%,34%)  MediumVioletRed */
.a127  {color:#af00af;} /* rgb(175,0,175)    hsl(300,100%,34%) Magenta3        */
.a128  {color:#af00d7;} /* rgb(175,0,215)    hsl(88,100%,42%)  DarkViolet      */
.a129  {color:#af00ff;} /* rgb(175,0,255)    hsl(81,100%,50%)  Purple          */
.a130  {color:#af5f00;} /* rgb(175,95,0)     hsl(2,100%,34%)   DarkOrange3     */
.a131  {color:#af5f5f;} /* rgb(175,95,95)    hsl(0,33%,52%)    IndianRed       */
.a132  {color:#af5f87;} /* rgb(175,95,135)   hsl(330,33%,52%)  HotPink3        */
.a133  {color:#af5faf;} /* rgb(175,95,175)   hsl(300,33%,52%)  MediumOrchid3   */
.a134  {color:#af5fd7;} /* rgb(175,95,215)   hsl(280,60%,60%)  MediumOrchid    */
.a135  {color:#af5fff;} /* rgb(175,95,255)   hsl(270,100%,68%) MediumPurple2   */
.a136  {color:#af8700;} /* rgb(175,135,0)    hsl(6,100%,34%)   DarkGoldenrod   */
.a137  {color:#af875f;} /* rgb(175,135,95)   hsl(30,33%,52%)   LightSalmon3    */
.a138  {color:#af8787;} /* rgb(175,135,135)  hsl(0,20%,60%)    RosyBrown       */
.a139  {color:#af87af;} /* rgb(175,135,175)  hsl(300,20%,60%)  Grey63          */
.a140  {color:#af87d7;} /* rgb(175,135,215)  hsl(270,50%,68%)  MediumPurple2   */
.a141  {color:#af87ff;} /* rgb(175,135,255)  hsl(260,100%,76%) MediumPurple1   */
.a142  {color:#afaf00;} /* rgb(175,175,0)    hsl(60,100%,34%)  Gold3           */
.a143  {color:#afaf5f;} /* rgb(175,175,95)   hsl(60,33%,52%)   DarkKhaki       */
.a144  {color:#afaf87;} /* rgb(175,175,135)  hsl(60,20%,60%)   NavajoWhite3    */
.a145  {color:#afafaf;} /* rgb(175,175,175)  hsl(0,0%,68%)     Grey69          */
.a146  {color:#afafd7;} /* rgb(175,175,215)  hsl(240,33%,76%)  LightSteelBlue3 */
.a147  {color:#afafff;} /* rgb(175,175,255)  hsl(240,100%,84%) LightSteelBlue  */
.a148  {color:#afd700;} /* rgb(175,215,0)    hsl(1,100%,42%)   Yellow3         */
.a149  {color:#afd75f;} /* rgb(175,215,95)   hsl(80,60%,60%)   DarkOliveGreen3 */
.a150  {color:#afd787;} /* rgb(175,215,135)  hsl(90,50%,68%)   DarkSeaGreen3   */
.a151  {color:#afd7af;} /* rgb(175,215,175)  hsl(120,33%,76%)  DarkSeaGreen2   */
.a152  {color:#afd7d7;} /* rgb(175,215,215)  hsl(180,33%,76%)  LightCyan3      */
.a153  {color:#afd7ff;} /* rgb(175,215,255)  hsl(210,100%,84%) LightSkyBlue1   */
.a154  {color:#afff00;} /* rgb(175,255,0)    hsl(8,100%,50%)   GreenYellow     */
.a155  {color:#afff5f;} /* rgb(175,255,95)   hsl(90,100%,68%)  DarkOliveGreen2 */
.a156  {color:#afff87;} /* rgb(175,255,135)  hsl(100,100%,76%) PaleGreen1      */
.a157  {color:#afffaf;} /* rgb(175,255,175)  hsl(120,100%,84%) DarkSeaGreen2   */
.a158  {color:#afffd7;} /* rgb(175,255,215)  hsl(150,100%,84%) DarkSeaGreen1   */
.a159  {color:#afffff;} /* rgb(175,255,255)  hsl(180,100%,84%) PaleTurquoise1  */
.a160  {color:#d70000;} /* rgb(215,0,0)      hsl(0,100%,42%)   Red3            */
.a161  {color:#d7005f;} /* rgb(215,0,95)     hsl(33,100%,42%)  DeepPink3       */
.a162  {color:#d70087;} /* rgb(215,0,135)    hsl(22,100%,42%)  DeepPink3       */
.a163  {color:#d700af;} /* rgb(215,0,175)    hsl(11,100%,42%)  Magenta3        */
.a164  {color:#d700d7;} /* rgb(215,0,215)    hsl(300,100%,42%) Magenta3        */
.a165  {color:#d700ff;} /* rgb(215,0,255)    hsl(90,100%,50%)  Magenta2        */
.a166  {color:#d75f00;} /* rgb(215,95,0)     hsl(6,100%,42%)   DarkOrange3     */
.a167  {color:#d75f5f;} /* rgb(215,95,95)    hsl(0,60%,60%)    IndianRed       */
.a168  {color:#d75f87;} /* rgb(215,95,135)   hsl(340,60%,60%)  HotPink3        */
.a169  {color:#d75faf;} /* rgb(215,95,175)   hsl(320,60%,60%)  HotPink2        */
.a170  {color:#d75fd7;} /* rgb(215,95,215)   hsl(300,60%,60%)  Orchid          */
.a171  {color:#d75fff;} /* rgb(215,95,255)   hsl(285,100%,68%) MediumOrchid1   */
.a172  {color:#d78700;} /* rgb(215,135,0)    hsl(7,100%,42%)   Orange3         */
.a173  {color:#d7875f;} /* rgb(215,135,95)   hsl(20,60%,60%)   LightSalmon3    */
.a174  {color:#d78787;} /* rgb(215,135,135)  hsl(0,50%,68%)    LightPink3      */
.a175  {color:#d787af;} /* rgb(215,135,175)  hsl(330,50%,68%)  Pink3           */
.a176  {color:#d787d7;} /* rgb(215,135,215)  hsl(300,50%,68%)  Plum3           */
.a177  {color:#d787ff;} /* rgb(215,135,255)  hsl(280,100%,76%) Violet          */
.a178  {color:#d7af00;} /* rgb(215,175,0)    hsl(8,100%,42%)   Gold3           */
.a179  {color:#d7af5f;} /* rgb(215,175,95)   hsl(40,60%,60%)   LightGoldenrod3 */
.a180  {color:#d7af87;} /* rgb(215,175,135)  hsl(30,50%,68%)   Tan             */
.a181  {color:#d7afaf;} /* rgb(215,175,175)  hsl(0,33%,76%)    MistyRose3      */
.a182  {color:#d7afd7;} /* rgb(215,175,215)  hsl(300,33%,76%)  Thistle3        */
.a183  {color:#d7afff;} /* rgb(215,175,255)  hsl(270,100%,84%) Plum2           */
.a184  {color:#d7d700;} /* rgb(215,215,0)    hsl(60,100%,42%)  Yellow3         */
.a185  {color:#d7d75f;} /* rgb(215,215,95)   hsl(60,60%,60%)   Khaki3          */
.a186  {color:#d7d787;} /* rgb(215,215,135)  hsl(60,50%,68%)   LightGoldenrod2 */
.a187  {color:#d7d7af;} /* rgb(215,215,175)  hsl(60,33%,76%)   LightYellow3    */
.a188  {color:#d7d7d7;} /* rgb(215,215,215)  hsl(0,0%,84%)     Grey84          */
.a189  {color:#d7d7ff;} /* rgb(215,215,255)  hsl(240,100%,92%) LightSteelBlue1 */
.a190  {color:#d7ff00;} /* rgb(215,255,0)    hsl(9,100%,50%)   Yellow2         */
.a191  {color:#d7ff5f;} /* rgb(215,255,95)   hsl(75,100%,68%)  DarkOliveGreen1 */
.a192  {color:#d7ff87;} /* rgb(215,255,135)  hsl(80,100%,76%)  DarkOliveGreen1 */
.a193  {color:#d7ffaf;} /* rgb(215,255,175)  hsl(90,100%,84%)  DarkSeaGreen1   */
.a194  {color:#d7ffd7;} /* rgb(215,255,215)  hsl(120,100%,92%) Honeydew2       */
.a195  {color:#d7ffff;} /* rgb(215,255,255)  hsl(180,100%,92%) LightCyan1      */
.a196  {color:#ff0000;} /* rgb(255,0,0)      hsl(0,100%,50%)   Red1            */
.a197  {color:#ff005f;} /* rgb(255,0,95)     hsl(37,100%,50%)  DeepPink2       */
.a198  {color:#ff0087;} /* rgb(255,0,135)    hsl(28,100%,50%)  DeepPink1       */
.a199  {color:#ff00af;} /* rgb(255,0,175)    hsl(18,100%,50%)  DeepPink1       */
.a200  {color:#ff00d7;} /* rgb(255,0,215)    hsl(09,100%,50%)  Magenta2        */
.a201  {color:#ff00ff;} /* rgb(255,0,255)    hsl(300,100%,50%) Magenta1        */
.a202  {color:#ff5f00;} /* rgb(255,95,0)     hsl(2,100%,50%)   OrangeRed1      */
.a203  {color:#ff5f5f;} /* rgb(255,95,95)    hsl(0,100%,68%)   IndianRed1      */
.a204  {color:#ff5f87;} /* rgb(255,95,135)   hsl(345,100%,68%) IndianRed1      */
.a205  {color:#ff5faf;} /* rgb(255,95,175)   hsl(330,100%,68%) HotPink         */
.a206  {color:#ff5fd7;} /* rgb(255,95,215)   hsl(315,100%,68%) HotPink         */
.a207  {color:#ff5fff;} /* rgb(255,95,255)   hsl(300,100%,68%) MediumOrchid1   */
.a208  {color:#ff8700;} /* rgb(255,135,0)    hsl(1,100%,50%)   DarkOrange      */
.a209  {color:#ff875f;} /* rgb(255,135,95)   hsl(15,100%,68%)  Salmon1         */
.a210  {color:#ff8787;} /* rgb(255,135,135)  hsl(0,100%,76%)   LightCoral      */
.a211  {color:#ff87af;} /* rgb(255,135,175)  hsl(340,100%,76%) PaleVioletRed1  */
.a212  {color:#ff87d7;} /* rgb(255,135,215)  hsl(320,100%,76%) Orchid2         */
.a213  {color:#ff87ff;} /* rgb(255,135,255)  hsl(300,100%,76%) Orchid1         */
.a214  {color:#ffaf00;} /* rgb(255,175,0)    hsl(1,100%,50%)   Orange1         */
.a215  {color:#ffaf5f;} /* rgb(255,175,95)   hsl(30,100%,68%)  SandyBrown      */
.a216  {color:#ffaf87;} /* rgb(255,175,135)  hsl(20,100%,76%)  LightSalmon1    */
.a217  {color:#ffafaf;} /* rgb(255,175,175)  hsl(0,100%,84%)   LightPink1      */
.a218  {color:#ffafd7;} /* rgb(255,175,215)  hsl(330,100%,84%) Pink1           */
.a219  {color:#ffafff;} /* rgb(255,175,255)  hsl(300,100%,84%) Plum1           */
.a220  {color:#ffd700;} /* rgb(255,215,0)    hsl(0,100%,50%)   Gold1           */
.a221  {color:#ffd75f;} /* rgb(255,215,95)   hsl(45,100%,68%)  LightGoldenrod2 */
.a222  {color:#ffd787;} /* rgb(255,215,135)  hsl(40,100%,76%)  LightGoldenrod2 */
.a223  {color:#ffd7af;} /* rgb(255,215,175)  hsl(30,100%,84%)  NavajoWhite1    */
.a224  {color:#ffd7d7;} /* rgb(255,215,215)  hsl(0,100%,92%)   MistyRose1      */
.a225  {color:#ffd7ff;} /* rgb(255,215,255)  hsl(300,100%,92%) Thistle1        */
.a226  {color:#ffff00;} /* rgb(255,255,0)    hsl(60,100%,50%)  Yellow1         */
.a227  {color:#ffff5f;} /* rgb(255,255,95)   hsl(60,100%,68%)  LightGoldenrod1 */
.a228  {color:#ffff87;} /* rgb(255,255,135)  hsl(60,100%,76%)  Khaki1          */
.a229  {color:#ffffaf;} /* rgb(255,255,175)  hsl(60,100%,84%)  Wheat1          */
.a230  {color:#ffffd7;} /* rgb(255,255,215)  hsl(60,100%,92%)  Cornsilk1       */
.a231  {color:#ffffff;} /* rgb(255,255,255)  hsl(0,0%,100%)    Grey100         */
.a232  {color:#080808;} /* rgb(8,8,8)        hsl(0,0%,3%)      Grey3           */
.a233  {color:#121212;} /* rgb(18,18,18)     hsl(0,0%,7%)      Grey7           */
.a234  {color:#1c1c1c;} /* rgb(28,28,28)     hsl(0,0%,10%)     Grey11          */
.a235  {color:#262626;} /* rgb(38,38,38)     hsl(0,0%,14%)     Grey15          */
.a236  {color:#303030;} /* rgb(48,48,48)     hsl(0,0%,18%)     Grey19          */
.a237  {color:#3a3a3a;} /* rgb(58,58,58)     hsl(0,0%,22%)     Grey23          */
.a238  {color:#444444;} /* rgb(68,68,68)     hsl(0,0%,26%)     Grey27          */
.a239  {color:#4e4e4e;} /* rgb(78,78,78)     hsl(0,0%,30%)     Grey30          */
.a240  {color:#585858;} /* rgb(88,88,88)     hsl(0,0%,34%)     Grey35          */
.a241  {color:#626262;} /* rgb(98,98,98)     hsl(0,0%,37%)     Grey39          */
.a242  {color:#6c6c6c;} /* rgb(108,108,108)  hsl(0,0%,40%)     Grey42          */
.a243  {color:#767676;} /* rgb(118,118,118)  hsl(0,0%,46%)     Grey46          */
.a244  {color:#808080;} /* rgb(128,128,128)  hsl(0,0%,50%)     Grey50          */
.a245  {color:#8a8a8a;} /* rgb(138,138,138)  hsl(0,0%,54%)     Grey54          */
.a246  {color:#949494;} /* rgb(148,148,148)  hsl(0,0%,58%)     Grey58          */
.a247  {color:#9e9e9e;} /* rgb(158,158,158)  hsl(0,0%,61%)     Grey62          */
.a248  {color:#a8a8a8;} /* rgb(168,168,168)  hsl(0,0%,65%)     Grey66          */
.a249  {color:#b2b2b2;} /* rgb(178,178,178)  hsl(0,0%,69%)     Grey70          */
.a250  {color:#bcbcbc;} /* rgb(188,188,188)  hsl(0,0%,73%)     Grey74          */
.a251  {color:#c6c6c6;} /* rgb(198,198,198)  hsl(0,0%,77%)     Grey78          */
.a252  {color:#d0d0d0;} /* rgb(208,208,208)  hsl(0,0%,81%)     Grey82          */
.a253  {color:#dadada;} /* rgb(218,218,218)  hsl(0,0%,85%)     Grey85          */
.a254  {color:#e4e4e4;} /* rgb(228,228,228)  hsl(0,0%,89%)     Grey89          */
.a255  {color:#eeeeee;} /* rgb(238,238,238)  hsl(0,0%,93%)     Grey93          */