<html>
<head>
  <title>{{ .Env.TITLE }}</title>
  <meta charset="utf-8">
  <meta name="author" content="{{ .Env.AUTHOR }}">
  <meta property="og:description" content="
tmpout.sh tmp.0ut
bla bla
"/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="/4/" />
  <meta property="og:title" content="tmp.0ut zine issue #4">
  <link href="./style.css" rel="stylesheet" type="text/css">
</head>
<body>
  {{ .Env.BODY }}
  <div class="txtdiv">
    <pre>
</pre>
  </div>
</body>
</html>
